.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;
  padding-bottom: 16px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  input,
  textarea {
    flex-grow: 1;
    max-width: 100%;
    min-height: 54px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $color-dark-transparent;
    color: $color-default-white;
    border: 2px solid $color-sky-blue;
    border-radius: 3px;
    outline: none;
    font-size: 1.6rem;
    line-height: 2.2rem;

    transition: border 0.3s ease;

    @media screen and (max-width: 767px) {
      max-width: unset;
      width: 100%;
    }

    &:hover {
      border: 2px solid rgba(#000000, 0.5);
    }

    &:focus {
      border: 2px solid rgba(#000000, 0.8);
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: $color-white-transparent;
  }

  textarea {
    height: 159px;
    padding-top: 21px;
    padding-bottom: 23px;

    @include vp-1023 {
      padding-top: 28px;
    }

    @include vp-767 {
      height: 184px;
      padding-top: 23px;
    }
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}

.custom-textarea {
  padding-bottom: 35px;

  @media screen and (max-width: 767px) {
    padding-bottom: 30px;
  }
}
