.feedback {
  position: relative;
  padding-top: 168px;
  padding-bottom: 248px;
  background: $color-sky-blue;

  @include vp-1023 {
    padding-top: 46px;
    padding-bottom: 123px;
  }

  @include vp-767 {
    padding-bottom: 90px;
  }
}

.feedback::after {
  position: absolute;
  content: " ";
  width: 51%;
  height: 100%;
  background: linear-gradient(to left top, transparent 0%, transparent 50%, rgba(4, 24, 39, 0.5) 50%, rgba(4, 24, 39, 0.5) 100%);
  top: 0;
  left: 0;

  @include vp-1023 {
    display: none;
  }
}

.feedback__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 5px;
  max-width: 100%;

  @include vp-1023 {
    margin-right: 0;
    margin-left: 0;
  }
}

.feedback__title {
  font-size: 3.6rem;
  line-height: 5.1rem;
  font-weight: 400;
  font-family: $ff-condensed;
  color: $color-default-white;
  margin-top: 0;
  margin-left: -5px;
  margin-bottom: 10px;

  @include vp-1023 {
    margin-bottom: 5px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 3rem;
    line-height: 4.2rem;
    margin-bottom: 7px;
  }
}

.feedback__subtitle {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: $color-default-white;
  margin-top: 0;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin-bottom: 30px;
  }
}

.feedback__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;

  @include vp-1023 {
    gap: 20px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0;
  }
}

.feedback__submit-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: -2px;

  @include vp-1023 {
    margin-right: 70px;
    align-items: center;
  }

  @include vp-767 {
    flex-direction: column;
    margin-right: 0;
  }
}

.feedback__submit {
  width: 90%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  min-height: 45px;
  margin-right: 6%;
  border-radius: 3px;
  order: -1;

  @include vp-1023 {
    width: 100%;
    margin-right: 85px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.feedback__wrapper {
  display: grid;
  grid-template-columns: minmax(0, 0.86fr) minmax(0, 1fr);
  column-gap: 9.5%;

  @include vp-1023 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.feedback__image-container {
  margin-top: 76px;

  @include vp-1023 {
    display: none;
  }
}

.feedback__background-image {
  position: relative;
  z-index: 2;
}
