.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.main-nav__logo-image {
  @include vp-767 {
    display: none;
  }
}

.main-nav__logo {
  display: none;

  @include vp-767 {
    fill: $color-sky-blue;
    display: block;
  }
}

.main-nav__logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -5px;

  @include vp-1023 {
    margin-bottom: -15px;
  }

  @include vp-767 {
    margin-bottom: -5px;
  }
}

.main-nav__logo-title {
  font-family: $ff-condensed;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.9rem;
  color: $color-alice-blue-light;
}

.main-nav__logo-subtitle {
  font-family: $ff-roboto;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: $color-alice-blue-transparent;
}

.main-nav__contacts-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
  margin-left: 9px;

  @include vp-1023 {
    margin-left: 0;
  }
}

.main-nav__contacts-item {
  min-width: 225px;
  margin-right: 25px;

  @include vp-1023 {
    min-width: 0;
    margin-right: 20px;
  }
}

.main-nav__contacts-item:last-of-type {
  margin-right: 0;

  @include vp-1023 {
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 10px;
  }
}

.main-nav__link-image {
  margin-right: 15px;
  fill: $color-sky-blue;
  transition: fill $trans-default;

  @include vp-1023 {
    margin-right: 0;
  }
}

.main-nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: opacity $trans-default;

  @include vp-1023 {
    padding: 10px;
  }

  @include hover-focus {
    opacity: 0.7;

    .main-nav__link-text {
      color: $color-sky-blue-dark;
    }

    .main-nav__link-image {
      fill: $color-sky-blue-dark;
    }
  }
}

.main-nav__link-text {
  font-size: 1.6rem;
  color: $color-alice-blue-light;
  line-height: 1.8rem;
  transition: color $trans-default;

  @include vp-1023 {
    display: none;
  }
}

.main-nav__modal-button {
  @include vp-1023 {
    display: none;
  }
}
